{{#if details.noInfoMessage}}
  <div>
    <span class="p-key"><em>No Information in VirusTotal</em></span>
  </div>
{{else}}
  <div class="top-section">
    <div class="indicator">
      <div class="tic-gauge-container">
        <svg x="0" y="0" width="100%" height="100%" viewBox="0 0 55 50">
          <g transform="translate(28,25)">
            <g>
              <circle
                r="{{elementRadius}}"
                stroke="#eee"
                transform="rotate(-90)"
                fill="#fff"
                stroke-width="{{elementStrokeWidth}}"
                cx="0"
                cy="0"
              ></circle>
              <circle
                stroke-dasharray="{{elementCircumference}}"
                r="{{elementRadius}}"
                stroke="{{elementColor}}"
                transform="rotate(-90)"
                fill="none"
                stroke-dashoffset="{{elementStrokeOffset}}"
                stroke-width="{{elementStrokeWidth}}"
                cx="0"
                cy="0"
              ></circle>
              <text
                text-anchor="middle"
                x="0"
                y="0"
                fill="{{elementColor}}"
                font-size="13"
              >
                {{details.positives}}
              </text>
              <text text-anchor="middle" x="-1" y="10" fill="gray" font-size="7">
                /
                {{details.total}}
              </text>
            </g>
          </g>
        </svg>
      </div>
    </div>
    {{#if details.tags.length}}
      <div class="tags-container">
        <h1 class="p-title">
          {{fa-icon "tags" fixedWidth=true}}
          Tags
        </h1>
        <div class="tags">
          {{#each details.tags as |tag|}}
            <div class="tag">
              {{tag}}
            </div>
          {{/each}}
        </div>
      </div>
    {{/if}}
  </div>

  <ul class="nav nav-tabs mt-2">
    <li class="nav-item">
      <a
        {{action "changeTab" "detection"}}
        class="nav-link {{if (or (eq activeTab "detection") (not activeTab)) "active"}}"
        href="#"
      >
        Detection
      </a>
    </li>
    {{#if details.detailsTab.length}}
      <li class="nav-item">
        <a
          {{action "changeTab" "details"}}
          class="nav-link {{if (or (eq activeTab "details") (not activeTab)) "active"}}"
          href="#"
        >
          Details
        </a>
      </li>
    {{/if}}
    {{#if (or details.referenceFiles.length details.historicalWhoIs.length)}}
      <li class="nav-item">
        <a
          {{action "changeTab" "relations"}}
          class="nav-link {{if (eq activeTab "relations") "active"}}"
          href="#"
        >
          Relations
        </a>
      </li>
    {{/if}}
    {{#if (or block.entity.isMD5 block.entity.isSHA1 block.entity.isSHA256)}}
      <li class="nav-item">
        <a
          {{action "changeTab" "fileNames"}}
          class="nav-link {{if (eq activeTab "filenNames") "active"}}"
          href="#"
        >
          Filenames
        </a>
      </li>
    {{/if}}
  </ul>

  {{#if (eq activeTab "detection")}}
    <div class="p-link mt-2">
      <a href="{{details.detectionsLink}}">View Scans in VirusTotal
        {{fa-icon "external-link-square" class="external-link-icon"}}</a>
    </div>
    <div>
      <span class="p-key">Scan Date: </span>
      <span class="p-value">{{moment-format
          details.scan_date
          "YYYY-MM-DD HH:mm:ss UTC"
        }}</span>
    </div>
    {{! detections }}
    <div class="toggle-header">
      <span class="p-action" {{action "toggleShowResults" "showScanResults"}}>
        {{fa-icon "laptop" fixedWidth=true}}
        Scan Results ({{details.positives}}
        of
        {{details.total}})
        {{fa-icon (if showScanResults "caret-up" "caret-down") fixedWidth=true}}
      </span>
    </div>
    {{#if showScanResults}}
      <div class="scan-results">
        <table>
          <tbody>
            {{#each details.positiveScans as |positiveScan|}}
              <tr>
                <td>
                  <span class="p-key">{{positiveScan.name}} </span>
                </td>
                <td>
                  <span class="p-value" style="color: #FF3A59">
                    {{fa-icon "exclamation" class="p-red table-icon" fixedWidth=true}}
                    {{positiveScan.result}}
                  </span>
                </td>
              </tr>
            {{/each}}
            {{#each details.negativeScans as |negativeScan|}}
              <tr>
                <td>
                  <span class="p-key">{{negativeScan.name}} </span>
                </td>
                <td>
                  <span class="p-value">
                    {{#if (eq negativeScan.result "Unrated")}}
                      {{fa-icon "question" class="p-grey table-icon" fixedWidth=true}}
                    {{else}}
                      {{#if (eq negativeScan.result "type-unsupported")}}
                        {{fa-icon "eye-slash" class="p-grey table-icon" fixedWidth=true}}
                      {{else}}
                        {{#if (eq negativeScan.result "Suspicious")}}
                          {{fa-icon "info" class="p-orange table-icon" fixedWidth=true}}
                        {{else}}
                          {{fa-icon "check" class="p-green table-icon" fixedWidth=true}}
                        {{/if}}
                      {{/if}}
                    {{/if}}
                    {{#if (eq negativeScan.result "type-unsupported")}}
                      <span class="p-grey">Unable to process file type</span>
                    {{else}}
                      {{#if (eq negativeScan.result "Suspicious")}}
                        <span class="p-orange">Suspicious</span>
                      {{else}}
                        {{#if (not negativeScan.result)}}
                          Undetected
                        {{else}}
                          {{negativeScan.result}}
                        {{/if}}
                      {{/if}}
                    {{/if}}
                  </span>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    {{/if}}
  {{/if}}
  {{! end of detections}}
  {{! start of file names}}
  {{#if (eq activeTab "fileNames")}}
    <div class="p-link mt-2">
      <a href="{{details.detectionsLink}}">View Scans in VirusTotal
        {{fa-icon "external-link-square" class="external-link-icon"}}</a>
    </div>
    {{#if block.data.details.fileNames.attributes.names}}
      <div class="filename-title">
        {{fa-icon "laptop" fixedWidth=true}}
        Filenames
      </div>
      {{#each block.data.details.fileNames.attributes.names as |name|}}
        <div>
          <span class="p-value">{{name}}</span>
        </div>
      {{/each}}
    {{else}}
      <button
        type="button"
        class="p-btn btn btn-sm btn-polarity filenames-btn mt-2"
        {{action "fetchNames"}}
      >
        Get Filenames
      </button>
      <div>
        <span class="p-footnote">Use this button to retrieve file names associated with
          the file hash:
          {{block.entity.value}}</span>
      </div>
    {{/if}}
  {{/if}}
  {{! end of file names}}
  {{#if (eq activeTab "details")}}
    <div class="p-link mt-2">
      <a href="{{details.detailsLink}}">View Details in VirusTotal
        {{fa-icon "external-link-square" class="external-link-icon"}}</a>
    </div>
    {{#if details.detailsTab.length}}
      {{#each details.detailsTab as |detailsField|}}
        {{#if detailsField.isObject}}
          <h1 class="p-title">{{fa-icon icon="th-list" fixedWidth=true}}
            {{detailsField.key}}</h1>
          {{#each-in detailsField.value as |key value|}}
            {{#if value}}
              <div>
                <span class="p-key">{{key}}:</span>
                <span class="p-value">{{value}}</span>
              </div>
            {{/if}}
          {{/each-in}}
        {{else}}
          {{#if detailsField.isList}}
            {{#each detailsField.value as |value|}}
              {{#if value}}
                <div>
                  <span class="p-key">{{detailsField.key}}:</span>
                  <span class="p-value">{{value}}</span>
                </div>
              {{/if}}
            {{/each}}
          {{else}}
            {{#if detailsField.isTitle}}
              <h1 class="p-title">{{fa-icon icon="th-list" fixedWidth=true}}
                {{detailsField.key}}</h1>
            {{else}}
              {{#if detailsField.value}}
                <div>
                  <span class="p-key">{{detailsField.key}}:</span>
                  <span class="p-value">{{detailsField.value}}</span>
                </div>
              {{/if}}
            {{/if}}
          {{/if}}
        {{/if}}
      {{/each}}
    {{/if}}
  {{/if}}

  {{#if (eq activeTab "relations")}}
    <div class="p-link mt-2">
      <a href="{{details.relationsLink}}">View Relations in VirusTotal
        {{fa-icon "external-link-square" class="external-link-icon"}}</a>
    </div>
    {{#if details.referenceFiles.length}}
      <div class="toggle-header">
        <span class="p-action" {{action "toggleShowResults" "showFilesReferring"}}>
          {{fa-icon "project-diagram" fixedWidth=true}}
          Files Referring ({{details.referenceFiles.length}})
          {{fa-icon (if showFilesReferring "caret-up" "caret-down") fixedWidth=true}}
        </span>
      </div>

      {{#if showFilesReferring}}
        {{#each details.referenceFiles as |referrenceFile|}}
          <div class="section">
            {{#if referrenceFile.name}}
              <div>
                <span class="p-key">Name:</span>
                <span class="p-value">
                  {{#if referrenceFile.link}}
                    <a href={{referrenceFile.link}}>{{referrenceFile.name}}</a>
                  {{else}}
                    {{referrenceFile.name}}
                  {{/if}}
                </span>
              </div>
            {{/if}}
            {{#if referrenceFile.type}}
              <div>
                <span class="p-key">Type:</span>
                <span class="p-value">{{referrenceFile.type}}</span>
              </div>
            {{/if}}
            {{#if referrenceFile.detections}}
              <div>
                <span class="p-key">Detections:</span>
                <span class="p-value">{{referrenceFile.detections}}</span>
              </div>
            {{/if}}
            {{#if referrenceFile.scannedDate}}
              <div>
                <span class="p-key">Scanned:</span>
                <span class="p-value">
                  {{#if (eq referrenceFile.scannedDate "-")}}
                    -
                  {{else}}
                    {{moment-format referrenceFile.scannedDate "YYYY-MM-DD HH:mm:ss UTC"}}
                  {{/if}}
                </span>
              </div>
            {{/if}}
          </div>
        {{/each}}
      {{/if}}
    {{/if}}

    {{#if details.historicalWhoIs.length}}
      <div class="toggle-header">
        <span class="p-action" {{action "toggleShowResults" "showHistoricalWhois"}}>
          {{fa-icon "project-diagram" fixedWidth=true}}
          Historical Whois Lookups ({{details.historicalWhoIs.length}})
          {{fa-icon (if showHistoricalWhois "caret-up" "caret-down") fixedWidth=true}}
        </span>
      </div>

      {{#if showHistoricalWhois}}
        {{#if block.entity.isIP}}
          <div class="scan-results">
            <table>
              <thead>
                <tr>
                  <th></th>
                  <th>Last Updated</th>
                  <th>Organization</th>
                  <th>Email</th>
                </tr>
              </thead>
            </table>
            {{#each details.historicalWhoIs as |whoisRow index|}}
              <table>
                <tbody>
                  <tr {{action "expandWhoIsRow" index}}>
                    <td>
                      {{fa-icon
                        (if (get expandedWhoisMap index) "caret-up" "caret-down")
                        fixedWidth=true
                      }}
                    </td>
                    <td>
                      <span class="p-key">{{moment-format
                          whoisRow.last_updated
                          "YYYY-MM-DD"
                        }}</span>
                    </td>
                    <td>
                      <span class="p-value">
                        {{#if whoisRow.OrgName}}
                          {{whoisRow.OrgName}}
                        {{else}}
                          -
                        {{/if}}
                      </span>
                    </td>
                    <td>
                      <span class="p-value">
                        {{#if whoisRow.OrgTechEmail}}
                          {{whoisRow.OrgTechEmail}}
                        {{else}}
                          -
                        {{/if}}
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
              {{#if (get expandedWhoisMap index)}}
                <div class="whois-expanded">
                  {{#each whoIsIpKeys as |ipKey|}}
                    {{#if (get whoisRow ipKey.key)}}
                      <div>
                        <span class="p-key">{{ipKey.key}}:</span>
                        <span class="p-value">
                          {{#if ipKey.isDate}}
                            {{moment-format
                              (get whoisRow ipKey.key)
                              "YYYY-MM-DD HH:mm:ss UTC"
                            }}
                          {{else}}
                            {{get whoisRow ipKey.key}}
                          {{/if}}
                        </span>
                      </div>
                    {{/if}}
                  {{/each}}
                </div>
              {{/if}}
            {{/each}}
          </div>
        {{else}}
          <div class="scan-results">
            <table>
              <thead>
                <tr>
                  <th></th>
                  <th>Last Updated</th>
                  <th>Registrar</th>
                  <th>Registrant</th>
                </tr>
              </thead>
            </table>
            {{#each details.historicalWhoIs as |whoisRow index|}}
              <table>
                <tbody>
                  <tr {{action "expandWhoIsRow" index}}>
                    <td>
                      {{fa-icon
                        (if (get expandedWhoisMap index) "caret-up" "caret-down")
                        fixedWidth=true
                      }}
                    </td>
                    <td>
                      <span class="p-key">{{moment-format
                          whoisRow.last_updated
                          "YYYY-MM-DD"
                        }}</span>
                    </td>
                    <td>
                      <span class="p-value">
                        {{#if whoisRow.Registrar}}
                          {{whoisRow.Registrar}}
                        {{else}}
                          -
                        {{/if}}
                      </span>
                    </td>
                    <td>
                      <span class="p-value">
                        {{#if whoisRow.Registrant}}
                          {{whoisRow.Registrant}}
                        {{else}}
                          -
                        {{/if}}
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
              {{#if (get expandedWhoisMap index)}}
                <div class="whois-expanded">
                  {{#each whoIsDomainKeys as |domainKey|}}
                    {{#if (get whoisRow domainKey.key)}}
                      <div>
                        <span class="p-key">{{domainKey.key}}:</span>
                        <span class="p-value">
                          {{#if domainKey.isDate}}
                            {{moment-format
                              (get whoisRow domainKey.key)
                              "YYYY-MM-DD HH:mm:ss UTC"
                            }}
                          {{else}}
                            {{get whoisRow domainKey.key}}
                          {{/if}}
                        </span>
                      </div>
                    {{/if}}
                  {{/each}}
                </div>
              {{/if}}
            {{/each}}
          </div>
        {{/if}}
      {{/if}}
    {{/if}}
  {{/if}}
{{/if}}