{{#if (eq block.data.details.type 'ip')}}
    <div class="p-link">
        <a href="{{ipVirusTotalLink}}">View in VirusTotal {{fa-icon "external-link-square" class="external-link-icon"}}</a>
    </div>
    <div>
        <span class="p-title">{{fa-icon "sun" fixedWidth=true}} Detections</span>
    </div>
    <table class="p-table" style="margin-top:5px;">
        <thead>
        <th>Detections</th>
        <th>Positive %</th>
        <th>Positives {{fa-icon "bug" class="header-icon p-red"}}</th>
        <th>Total</th>
        </thead>
        <tbody>
        <tr>
            <td>Overall</td>
            <td>{{block.data.details.overallPercent}}</td>
            <td>{{block.data.details.overallPositives}}</td>
            <td>{{block.data.details.overallTotal}}</td>
        </tr>
        <tr>
            <td>URLs</td>
            <td>{{block.data.details.detectedUrlsPercent}}</td>
            <td>{{block.data.details.detectedUrlsPositive}}</td>
            <td>{{block.data.details.detectedUrlsTotal}}</td>
        </tr>
        <tr>
            <td>Communicating</td>
            <td>{{block.data.details.detectedCommunicatingSamplesPercent}}</td>
            <td>{{block.data.details.detectedCommunicatingSamplesPositive}}</td>
            <td>{{block.data.details.detectedCommunicatingSamplesTotal}}</td>
        </tr>
        <tr>
            <td>Downloaded</td>
            <td>{{block.data.details.detectedDownloadedSamplesPercent}}</td>
            <td>{{block.data.details.detectedDownloadedSamplesPositive}}</td>
            <td>{{block.data.details.detectedDownloadedSamplesTotal}}</td>
        </tr>
        <tr>
            <td>Embedded</td>
            <td>{{block.data.details.detectedReferrerSamplesPercent}}</td>
            <td>{{block.data.details.detectedReferrerSamplesPositive}}</td>
            <td>{{block.data.details.detectedReferrerSamplesTotal}}</td>
        </tr>
        </tbody>
    </table>
    {{#if (eq numResolutionsShown 0)}}
        <div>
            <span class="p-title">{{fa-icon "laptop" fixedWidth=true}} No Hostname Resolutions Found</span>
        </div>
    {{else}}
        <div>
            <span class="p-title">{{fa-icon "laptop" fixedWidth=true}}Hostname Resolutions ({{numResolutionsShown}} of {{block.data.details.numResolutions}})</span>
        </div>
        <table class="p-table" style="margin-top:10px;">
            <tbody>
            {{#each (limit block.data.details.resolutions maxResolutionsToShow) as |resolution|}}
                <tr>
                    <td>
                        {{resolution.hostname}}
                        <p>
                            <b class="muted">Last Resolved</b>: {{moment-format resolution.last_resolved timeZone=timeZone}}
                        </p>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    {{/if}}
    {{#if (eq numUrlsShown 0)}}
        <div>
            <span class="p-title">{{fa-icon "globe" fixedWidth=true}} No Detected URLs</span>
        </div>
    {{else}}
        <div class="p-title">
            {{fa-icon "globe" fixedWidth=true}} Detected URLs ({{numUrlsShown}} of {{block.data.details.detectedUrls.length}})
        </div>
        <table class="p-table" style="margin-top:5px;">
            <thead>
            <tr>
                <th>Positives</th>
                <th>URL</th>
            </tr>
            </thead>
            <tbody>
            {{#each (limit block.data.details.detectedUrls maxUrlsToShow) as |url|}}
                <tr>
                    <td class="positives">{{url.positives}} / {{url.total}}</td>
                    <td>
                        {{url.url}}
                        <p>
                            <b class="muted">Scan Date: </b>{{moment-format url.scan_date timeZone=timeZone}}
                        </p>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    {{/if}}
{{/if}}

{{#if (eq block.data.details.type 'file')}}

    <div class="p-link">
        <a href="{{block.data.details.permalink}}">View in VirusTotal {{fa-icon "external-link-square" class="external-link-icon"}}</a>
    </div>
    <div>
        <span class="p-title">{{fa-icon "file" fixedWidth=true}} File Report</span>
    </div>
    <div>
        <span class="p-key">Scan Date:</span>
        <span class="p-value">{{moment-format block.data.details.scan_date timeZone=timeZone}}</span>
    </div>
    <div>
        <span class="p-key">{{block.data.details.positives}} positive detections out of {{block.data.details.total}}</span>
    </div>

    <table>
        <thead>
            <th></th>
            <th>Scanner</th>
            <th>Result</th>
        </thead>
        <tbody>
        {{#each-in block.data.details.scans as |key value|}}
            {{#if (or (and (not value.detected) block.userOptions.showNoDetections) value.detected)}}
                <tr>
                    <td style="width:20px">
                        {{#if value.detected}}
                            {{fa-icon "bug" class="p-red table-icon" fixedWidth=true}}
                        {{else}}
                            {{fa-icon "check" class="p-green table-icon" fixedWidth=true}}
                        {{/if}}
                    </td>
                    <td>{{key}}</td>
                    <td>
                        {{#if value.result}}
                            {{value.result}}
                        {{else}}
                            <span class="success">[No Detection]</span>
                        {{/if}}
                    </td>
                </tr>
            {{/if}}
        {{/each-in}}
        </tbody>
    </table>
{{/if}}

