{{#if details.noInfoMessage}}
    <div>
        <span class="p-key"><em>No Information in VirusTotal</em></span>
    </div> 
{{else}}
    <div class="p-link">
        <a href="{{details.link}}">View in VirusTotal {{fa-icon "external-link-square" class="external-link-icon"}}</a>
    </div>
    <div class="indicator">
        <div class="tic-gauge-container">
            <svg x="0" y="0" width="30%" height="30%" viewBox="0 0 55 50">
                <g transform="translate(28,25)">
                    <g>
                        <circle r="{{elementRadius}}" stroke="#eee" transform="rotate(-90)" fill="#fff"
                            stroke-width="{{elementStrokeWidth}}" cx="0" cy="0"></circle>
                        <circle stroke-dasharray="{{elementCircumference}}" r="{{elementRadius}}" stroke="{{elementColor}}"
                            transform="rotate(-90)" fill="none" stroke-dashoffset="{{elementStrokeOffset}}"
                            stroke-width="{{elementStrokeWidth}}" cx="0" cy="0"></circle>
                        <text text-anchor="middle" x="0" y="0" fill="{{elementColor}}" font-size="13">
                            {{details.positives}}
                        </text>
                        <text text-anchor="middle" x="-1" y="10" fill="gray" font-size="7">
                            / {{details.total}}
                        </text>
                    </g>
                </g>
            </svg>
        </div>
    </div>

    <div>
        <span class="p-key">Scan Date: </span>
        <span class="p-value">{{moment-format details.scan_date timeZone=timeZone}}</span>
    </div>

    <div class="toggle-header">
        <span class="p-action" {{action "toggleShowScanResults"}}>
            {{fa-icon "laptop" fixedWidth=true}} 
            Detection ({{details.positives}} of {{details.total}}) 
            {{fa-icon (if showScanResults "caret-up" "caret-down") fixedWidth=true}}
        </span>
    </div>
    {{#if showScanResults}}
        <div class="scan-results">
            <table>
                <tbody>
                    {{#each details.positiveScans as |positiveScan|}}
                        <tr>
                            <td>
                                <span class="p-key">{{positiveScan.name}}: </span>
                            </td>
                            <td>
                                <span class="p-value" style="color: #FF3A59">
                                    {{fa-icon "exclamation" class="p-red table-icon" fixedWidth=true}}
                                    {{positiveScan.result}}
                                </span>
                            </td>
                        </tr>
                    {{/each}}
                    {{#each details.negativeScans as |negativeScan|}}
                        <tr>
                            <td>
                                <span class="p-key">{{negativeScan.name}}: </span>
                            </td>
                            <td>
                                <span class="p-value">
                                    {{#if (eq negativeScan.result "Unrated")}}
                                        {{fa-icon "question" class="p-grey table-icon" fixedWidth=true}}
                                    {{else}}
                                        {{#if (eq negativeScan.result "type-unsupported")}}
                                            {{fa-icon "eye-slash" class="p-grey table-icon" fixedWidth=true}}
                                        {{else}}
                                            {{#if (eq negativeScan.result "Suspicious")}}
                                                {{fa-icon "info" class="p-orange table-icon" fixedWidth=true}}
                                            {{else}}
                                                {{fa-icon "check" class="p-green table-icon" fixedWidth=true}}
                                            {{/if}}
                                        {{/if}}
                                    {{/if}}
                                    {{#if (eq negativeScan.result "type-unsupported")}}
                                        <span class="p-grey">Unable to process file type</span>
                                    {{else}}
                                        {{#if (eq negativeScan.result "Suspicious")}}
                                            <span class="p-orange">Suspicious</span>
                                        {{else}}
                                            {{#if (not negativeScan.result)}}
                                                Undetected
                                            {{else}}
                                                {{negativeScan.result}}
                                            {{/if}}
                                        {{/if}}
                                    {{/if}}
                                </span>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    {{/if}}
{{/if}}
